.input_text {
  box-sizing: border-box;
  width: 40rem;
  height: 20rem;
  border: 1px solid black;
}
.input {
  padding-left: 1rem;
}
.result_output {
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-top: 11rem;
  line-height: 2rem;
  padding: 0.5rem 1rem;
}